<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htlocation">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="车辆定位"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.taobao.android.hotfix.IDSECRET"
            android:value="24721783-1" />
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="c93e42de0670b64b80548773d25672d9" />
        <meta-data
            android:name="com.taobao.android.hotfix.RSASECRET"
            android:value="@string/app_rsa" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Service.LocationService"></service>
        <activity
            android:name=".OnePiexlActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OnePixelActivity"></activity>

        <activity android:name=".ExplainActivity"></activity>

    </application>

</manifest>